{% extends 'products/base.html' %}
{% load static cache humanize %}

{% block css %}
<link href="{% static 'my_shop/css/main_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">E-Shop</h1>
            <div class="list-group">
                {% for category in categories %}
                <a href="{% url 'products:category' category.id %}" class="list-group-item list-group-item-action">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">

                {% for product in object_list %}
                <div class="col-lg-3 col-md-6 mb-4 mt-4">
                    <div class="card h-100">
                        <!-- тут мб вставить для детаил вью ссылку -->
                        <a href="#">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ product.name|slice:20 }}</a>
                            </h4>
                            <p class="card-text">{{ product.description|slice:20 }}</p>
                            <h5>{{ product.price|intcomma}} руб.</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-success" href="{% url 'products:basket_add' product.id %}">
                                Добавить в корзину
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                        <a class="page-link"
                            href="{% if page_obj.has_previous %} {% url 'products:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}"
                            tabindex="-1" aria-disabled="true">
                            Предыдущая
                        </a>
                    </li>
                    {% for page in paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'products:paginator' page %}">
                            {{ page }}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                        <a class="page-link"
                            href="{% if page_obj.has_next %} {% url 'products:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">
                            Следующая
                        </a>
                    </li>
                </ul>
            </nav>

            {% endif %}

        </div>

    </div>

</div>
{% endblock %}

{% block footer %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; E-Shop</p>
    </div>
</footer>
{% endblock %}